<!DOCTYPE html>
<html lang="en">
<head>
        {% include '/comm/adheader.html' %}
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        {% include '/comm/sidebar.html' %}
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                {% include '/comm/adtopbar.html' %}
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <!-- Page Heading -->
                    <!-- DataTales Example -->
                <div class = "row">
                <div class="col-lg-6">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">나의 수익 현황</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr  style="text-align: center">
                                            <th>집계 일자</th>
                                            <th>잔고</th>
                                            <th>차액</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in items %}
                                         <tr style="text-align: right">
                                         <td class = "coins" style="text-align: center" >{{ item[1] }}</td>
                                         <td class="vola">{{ item[2] }}</td>
                                         <td class="volb"></td>
                                         </tr>
                                        {% endfor %}
                                    <tr>
                                        <td colspan="2" style="text-align: center; background-color: linen "> 차액 합계</td>
                                        <td id="suminc" style="text-align: right; background-color: linen"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-lg-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">수익현황</h6>
                            </div>
                        <div class="card-body">
                            <div class="chart-area" style="position: relative; height: 320px;">
                                <canvas id="myChart1"></canvas>
                            </div>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
             <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; SOFTCORE 2025</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
     <!-- Bootstrap core JavaScript-->

    {% include '/comm/adscript.html' %}
    {% include '/comm/adscriptchart.html' %}
<script>
    // 서버에서 전달받은 원본 데이터 (X축: 일시, Y축: 총 잔고)
    var dataArr1 = {{ tval | safe }};
    var dataArr2 = {{ ival | safe }};

    $(document).ready(function () {
        setcurr();
        calbenifit();
        renderChart();
    });

    function numberWithCommas(x) {
        if (x === null || x === undefined) return "0";
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function setcurr(){
        $(".vola").each(function () {
            var val = parseInt($(this).text().replace(/,/g, '')) || 0;
            $(this).text(numberWithCommas(val));
        });
    }

    function calbenifit(){
        var $Aarr = $(".vola");
        var $Barr = $(".volb");
        var suminc = 0;

        for (var i = 0; i < $Aarr.length; i++) {
            var cur = parseInt($Aarr[i].innerText.replace(/,/g, '')) || 0;
            var prev = (i === 0) ? cur : (parseInt($Aarr[i - 1].innerText.replace(/,/g, '')) || 0);

            var diff = cur - prev; // 이전 회차 대비 변동액
            suminc += diff;

            // 변동액 색상 구분 (+ 빨강, - 파랑)
            if (diff > 0) {
                $Barr[i].innerHTML = "<span style='color:red;'>+" + numberWithCommas(diff) + "</span>";
            } else if (diff < 0) {
                $Barr[i].innerHTML = "<span style='color:blue;'>" + numberWithCommas(diff) + "</span>";
            } else {
                $Barr[i].innerText = "0";
            }
        }
        $("#suminc").html(numberWithCommas(suminc));
    }

    function renderChart() {
    new Chart(document.getElementById("myChart1"), {
        type: 'line',
        data: {
            labels: dataArr1,
            datasets: [{
                label: '총 자산 잔고 (KRW)',
                data: dataArr2,
                borderColor: "rgb(247,85,16)",
                backgroundColor: "rgba(247,85,16,0.05)",
                fill: true,
                lineTension: 0.2
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false, // ★ 이 옵션을 추가해야 카드 영역 밖으로 삐져나가지 않습니다.
            title: {
                display: true,
                text: "자산 변동 추이"
            },
            tooltips: {
                mode: 'index',
                intersect: false,
                callbacks: {
                    label: function(tooltipItem) {
                        return numberWithCommas(tooltipItem.yLabel) + " 원";
                    }
                }
            },
            scales: {
                xAxes: [{
                    display: true
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        callback: function(value) {
                            return numberWithCommas(value) + "원";
                        }
                    }
                }]
            }
        }
    });
}
</script>
</body>
</html>
